<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Plantator System</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" th:href ="@{/assets/css/normalize.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/cs-skin-elastic.css}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/scss/style.css}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
        <!-- Left Panel -->
    <aside   class="left-panel" >
<div th:replace="admin/leftPanel :: left-panel">
    
</div>
</aside>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="dropdown for-notification">
                          
                          <div class="dropdown-menu" aria-labelledby="notification">
                            
                          </div>
                        </div>

                        <div class="dropdown for-message">
                          
                        
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>


                </div>
            </div>

        </header><!-- /header -->
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-8">
                        <label for="company" class=" form-control-label">Pracownik</label>
                         <select  name="employee" id="employee" class="form-control"  >
                                <option th:each="employee  : ${employees}" th:value="${employee.id}" th:text="${employee.name} +' '+ ${employee.surName}">Dostawca</option>
                        </select>
                        <br>
                    <label for="company" class=" form-control-label">Nazwa dostawcy</label>
                         <select  name="select" id="select" class="form-control" onchange="showField()" >
                                <option th:each="provider  : ${providers}" th:value="${provider.id}" th:text="${provider.nameCompany}">Dostawca</option>
                        </select>   
                        <br>
                        <label for="company"  class=" form-control-label">Nazwa Pola Dostawcy</label>
                         <select   id="fieldsSelect" class="form-control" onchange="showTariff()" >
                               
                        </select> 
                        <br>
                        <label for="company"  class=" form-control-label">Nazwa Taryfy </label>
                         <select   id="tariffSel" class="form-control" >
                               
                        </select> 
                        <br>  
                        <form >
                  <div class="card">
                      <div class="card-header"><strong>Dodawanie</strong><small> Wyniku</small></div>
                      <div class="card-body card-block">
                        <div class="form-group"><label  class=" form-control-label">Data wykonania pracy</label>
                            <input type="date" id="date"  name="bday" placeholder="Wprowadź taryfy" class="form-control"></div>
                        <div class="form-group"><label  class=" form-control-label">Czas/kilogramy</label>
                             <input type="number" step="0.01" id="price" placeholder="Wprowadź stawkę godzinową/za kilogram" class="form-control">
                          <button type="button" id="sendData"  onclick="addData()" class="btn btn-success btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Zapisz
                        </button>
                      </div>
                    </div>
                         </form>
                                       
        </div>
        <div class="col-lg-4" id="demo">
        </div>
                  </div>
                  </div>
                </div>


            </div><!-- .animated -->
        </div><!-- .content -->
<script>
function showField() {
    var e = document.getElementById("select");
    var allField = e.options[e.selectedIndex].value;
    $('#fieldsSelect').empty();
        $.ajax({
            type : "GET",
            url :  "/api/field/all/" + allField,            
            success: function(result){
                 $.each(result, function(i, filed){
             var filed = "<option value="+filed.id+"> " + filed.fieldName +  
                "</option>";
                
                $('#fieldsSelect').append( filed );
            });
            }
        });
 
}

function showTariff() {
    var e = document.getElementById("fieldsSelect");
    var selField = e.options[e.selectedIndex].value;
    $('#tariffSel').empty();
        $.ajax({
            type : "GET",
            url :  "/api/field/" + selField,            
            success: function(result){
                 $.each(result, function(i, tariff){
             var str = "<option value="+tariff.id+"> " + tariff.nameTariff +  
                "</option>";
                
                $('#tariffSel').append( str );
            });
            }
        });
 
}

function addData() {
    var e = document.getElementById("fieldsSelect");
    var idField = e.options[e.selectedIndex].value;
    var e2 = document.getElementById("employee");
    var idEmployee = e2.options[e2.selectedIndex].value;
    var e3 = document.getElementById("tariffSel");
    var idTariff = e3.options[e3.selectedIndex].value;
    var formData = {
            id : new Number(1),
            date : document.getElementById("date").value,
            amount : new Number($("#price").val())
};
    $.ajax({
        type : "POST",
        contentType : "application/json",
        url : "/api/add/" + idEmployee+"/field/"+idField+"/tariff/"+idTariff,
        data : JSON.stringify(formData),            
        success : function(data) {
            alert("ok");
        },
        error: function(jqXHR, textStatus, errorThrown) {
                       
        }
    });

}





</script>

  <script>
  $( function() {
    $( 'date' ).datepicker();
  } );
  </script>


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Right Panel -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>  
<script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>

</body>
</html>
